<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Blood Bank List</title>
</head>
<body>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Blood Bank Name</th>
        <th scope="col">Location</th>
        <th scope="col">Phone</th>
        <th scope="col" style="width: 5%">A+</th>
        <th scope="col" style="width: 5%">A-</th>
        <th scope="col">B+</th>
        <th scope="col">B-</th>
        <th scope="col">O+</th>
        <th scope="col">O-</th>
        <th scope="col">AB+</th>
        <th scope="col">AB-</th>
        <th scope="col">Request</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-danger">
        <th scope="row">1</th>
        <td>Shondhani</td>
        <td>Dhaka</td>
        <td>0123456789</td>
        <td>10</td>
        <td>5</td>
        <td>25</td>
        <td>15</td>
        <td>0</td>
        <td>5</td>
        <td>5</td>
        <td>2</td>
        <td>
            <button type="button" class="btn btn-danger">Request</button>
        </td>
    </tr>
    <tr class="table-success">
        <th scope="row">2</th>
        <td>Local Blood</td>
        <td>Rangpur</td>
        <td> 0147852</td>
        <td> 5</td>
        <td> 2</td>
        <td> 1</td>
        <td>5</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>
            <button type="button" class="btn btn-success">Request</button>
        </td>
    </tr>
    </tbody>
</table>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
